<div class="container">
  <h1 class="display-3">Посади</h1>
</div>

<table class="table" *ngIf="positions">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Назва</th>
    <th scope="col">Середня зарплата</th>
    <th scope="col">Пріоритет</th>
    <th scope="col">Опис</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let position of positions" (click)="setPosition(position)" >
    <td >{{ position.name }}</td>
    <td>{{ position.avgSalary }}</td>
    <td>{{ position.priority }}</td>
    <td>{{ position.description }}</td>
  </tr>
  </tbody>
</table>
