<div >
  <a class="col-1-4"
     routerLink="/first">
    <div class="module address">
      <h4>Перший запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/second">
    <div class="module address">
      <h4>Другий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/third">
    <div class="module address">
      <h4>Третій запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/fourth">
    <div class="module address">
      <h4>Четвертий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/fifth">
    <div class="module address">
      <h4>П'ятий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/sixth">
    <div class="module address">
      <h4>Шостий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/seventh">
    <div class="module address">
      <h4>Сьомий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/eighth">
    <div class="module address">
      <h4>Восьмий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/nainth">
    <div class="module address">
      <h4>Дев'ятий запит</h4>
    </div>
  </a>

  <a class="col-1-4"
     routerLink="/tenth">
    <div class="module address">
      <h4>Десятий запит</h4>
    </div>
  </a>
</div>
