<div class="main-coffe-house">
  <div *ngIf="coffeeHouse">
    <h2>Coffee house info: </h2>
    <div><span>Address: </span>{{ coffeeHouse.address }}</div>
    <div><span>Space: </span>{{ coffeeHouse.space }}</div>
    <div><span>Rental price: </span>{{ coffeeHouse.rentalPrice }}</div>
    <div><span>MobileNumber: </span>{{ coffeeHouse.mobileNumber }}</div>
  </div>

  <button (click)="goBack()">go back</button>

  <div *ngIf="coffeeHouse">
    <div id="create-ch-menu" class="main-block">
      <h3>Update coffee house data </h3>
      <div class="form-group">
        <label for="addressInput" class="col-2 col-form-label">Address:</label>
        <input  [(ngModel)]="coffeeHouse.address"  value="{{coffeeHouse.address}}" placeholder="Address" class="form-control" type="text" id="addressInput">

        <label for="spaceInput" class="col-2 col-form-label">Space:</label>
        <input  [(ngModel)]="coffeeHouse.space" placeholder="Space" class="form-control" type="text" id="spaceInput">

        <label for="rentalPriceInput" class="col-2 col-form-label">Rental price:</label>
        <input  [(ngModel)]="coffeeHouse.rentalPrice" placeholder="Rental price" class="form-control" type="text" id="rentalPriceInput">

        <label for="mobileNumberInput" class="col-2 col-form-label">Mobile number:</label>
        <input  [(ngModel)]="coffeeHouse.mobileNumber" placeholder="Mobile number" class="form-control" type="text" id="mobileNumberInput">

        <button (click)="update()" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>
