<div class="main-coffe-house">
  <div *ngIf="coffeeHouse">
    <h2>Інформація кав'ярні: </h2>
    <div><span>Адреса: </span>{{ coffeeHouse.address }}</div>
    <div><span>Площа: </span>{{ coffeeHouse.space }}</div>
    <div><span>Ціна оренди: </span>{{ coffeeHouse.rentalPrice }}</div>
    <div><span>Мобільний номер: </span>{{ coffeeHouse.mobileNumber }}</div>
  </div>

  <button (click)="goBack()" class="btn btn-success">Повернутись</button>

  <div *ngIf="coffeeHouse">
    <div id="create-ch-menu" class="main-block">
      <h3>Оновити дані кав'ярні</h3>
      <div class="form-group">
        <label for="addressInput" class="col-2 col-form-label">Адреса:</label>
        <input  [(ngModel)]="coffeeHouse.address"  value="{{coffeeHouse.address}}" placeholder="Адреса" class="form-control" type="text" id="addressInput">

        <label for="spaceInput" class="col-2 col-form-label">Площа:</label>
        <input  [(ngModel)]="coffeeHouse.space" placeholder="Площа" class="form-control" type="text" id="spaceInput">

        <label for="rentalPriceInput" class="col-2 col-form-label">Ціна оренди:</label>
        <input  [(ngModel)]="coffeeHouse.rentalPrice" placeholder="Ціна оренди" class="form-control" type="text" id="rentalPriceInput">

        <label for="mobileNumberInput" class="col-2 col-form-label">Мобільний номер:</label>
        <input  [(ngModel)]="coffeeHouse.mobileNumber" placeholder="Мобільний номер" class="form-control" type="text" id="mobileNumberInput">

        <button (click)="update()" class="btn btn-success">Оновити</button>
      </div>
    </div>
  </div>
</div>
