<div class="container">
  <h1 class="display-3">Кавові напої</h1>
</div>

<table class="table" *ngIf="coffeeDrinks">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Назва</th>
    <th scope="col">Ціна</th>
    <th scope="col">Собівартість</th>
    <th scope="col">Опис</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let coffeeDrink of coffeeDrinks" (click)="setDrink(coffeeDrink)" >
        <td >{{ coffeeDrink.name }}</td>
        <td>{{ coffeeDrink.price }}</td>
        <td>{{ coffeeDrink.nativePrice }}</td>
        <td>{{ coffeeDrink.description }}</td>
    </tr>
  </tbody>
</table>


<div class="form-block">

  <div id="create-cd-menu" class="main-component">
    <h3>Створити новий кавовий напій </h3>
    <div class="form-group">
      <label>Назва:</label>
        <input [(ngModel)]="newCoffeeDrink.name" class="form-control" placeholder="Name">

      <label>Ціна:</label>
        <input [(ngModel)]="newCoffeeDrink.price" class="form-control" placeholder="Price">

      <label>Собівартість:</label>
        <input [(ngModel)]="newCoffeeDrink.nativePrice" class="form-control" placeholder="Native price">

      <label>Продукти:</label>
        <ng-selectize [config]="config" [options]="options" [placeholder]="placeholder" [(ngModel)]="values" (ngModelChange)="onValueChange($event)"></ng-selectize>

      <label>Опис:</label>
        <input [(ngModel)]="newCoffeeDrink.description" class="form-control" placeholder="Description">

    </div>
    <button (click)="create()"  class="btn btn-success">Create</button>
  </div>

  <!--<ng-selectize [config]="config" [options]="options" [placeholder]="placeholder" [(ngModel)]="values" (ngModelChange)="onValueChange($event)"></ng-selectize>-->

    <div *ngIf="coffeeDrink" id="create-ch-menu" class="main-component">
      <h3>Оновити кавовий напій</h3>
      <div class="form-group">
        <label>Назва:</label>
          <input [(ngModel)]="coffeeDrink.name" class="form-control"  placeholder="Address">

        <label>Ціна:</label>
          <input [(ngModel)]="coffeeDrink.price" class="form-control"  placeholder="Space">

        <label>Собівартість:</label>
          <input [(ngModel)]="coffeeDrink.nativePrice" class="form-control"  placeholder="Rental price">

        <label>Опис:</label>
          <input [(ngModel)]="coffeeDrink.description" class="form-control"  placeholder="Mobile number">

      </div>
      <button (click)="update()" class="btn btn-success">Оновити</button>
    </div>

</div>
