<div class="container">
  <h1 class="display-3">Contract</h1>
</div>

<table class="table" *ngIf="contracts">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Номер контракту</th>
    <th scope="col">Посада</th>
    <th scope="col">Дата початку</th>
    <th scope="col">Дата закінчення</th>
    <th scope="col">Працівник</th>
    <th scope="col">Кав'ярня</th>
    <th scope="col">Зарплата</th>
    <th scope="col">Відпустка</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let contract of contracts" (click)="setContract(contract)" >
    <td >{{ contract.contractNumber }}</td>
    <td>{{ contract.workPosition }}</td>
    <td>{{ contract.startDate }}</td>
    <td>{{ contract.endDate }}</td>
    <td>{{ contract.employee.fullName }}</td>
    <td>{{ contract.coffeeHouse.address }}</td>
    <td>{{ contract.salary }}</td>
    <td>{{ contract.vacation }}</td>
  </tr>
  </tbody>
</table>


<div>
  <div id="create-cd-menu" class="main-component">
    <h3>Створити новий контракт: </h3>
    <div class="form-group">
      <label>Номер контракту:</label>
      <input [(ngModel)]="newContract.contractNumber" class="form-control" placeholder="Номер контракту">

      <label>Посада:</label>
      <input [(ngModel)]="newContract.workPosition" class="form-control" placeholder="Посада">

      <label>Дата початку:</label>
      <input [(ngModel)]="newContract.startDate" class="form-control" placeholder="Дата початку">

      <label>Дата закінчення:</label>
      <input [(ngModel)]="newContract.endDate" class="form-control" placeholder="Дата закінчення">

      <label>Працівник:</label>
      <input [(ngModel)]="newContract.employee" class="form-control" placeholder="Працівник">

      <label>Кав'ярня:</label>
      <input [(ngModel)]="newContract.coffeeHouse" class="form-control" placeholder="Кав'ярня">

      <label>Зарплата:</label>
      <input [(ngModel)]="newContract.salary" class="form-control" placeholder="Зарплата">

      <label>Відпустка:</label>
      <input [(ngModel)]="newContract.vacation" class="form-control" placeholder="Відпустка">
    </div>
    <button (click)="create()" class="btn btn-success">Створити</button>
  </div>
</div>




  <div *ngIf="contract">
    <div id="create-ch-menu" class="main-component">
      <h3>Оновити дані контракту: </h3>
      <div class="form-group">
        <label>Номер контракту:</label>
        <input [(ngModel)]="contract.contractNumber" class="form-control" placeholder="Номер контракту">

        <label>Посада:</label>
        <input [(ngModel)]="contract.workPosition" class="form-control" placeholder="Посада">

        <label>Дата початку:</label>
        <input [(ngModel)]="contract.startDate" class="form-control" placeholder="Дата початку">

        <label>Дата закінчення:</label>
        <input [(ngModel)]="contract.endDate" class="form-control" placeholder="Дата закінчення">

        <label>Працівник:</label>
        <input [(ngModel)]="contract.employee.fullName" class="form-control" placeholder="Працівник">

        <label>Кав'ярня:</label>
        <input [(ngModel)]="contract.coffeeHouse.address" class="form-control" placeholder="Кав'ярня">

        <label>Зарплата:</label>
        <input [(ngModel)]="contract.salary" class="form-control" placeholder="Зарплата">

        <label>Відпустка:</label>
        <input [(ngModel)]="contract.vacation" class="form-control" placeholder="Відпустка">
      </div>
      <button (click)="update()" class="btn btn-success">Оновити</button>
    </div>
</div>
