<div class="main">
  <div id="coffee-houses-list" class="main-table">
    <h2>Кав'ярня: </h2>
      <div class="grid grid-pad" *ngIf="addresses">
        <a *ngFor="let address of addresses" class="col-1-4"
           routerLink="/coffee-house/{{ address }}">
          <div class="module address">
            <h4>{{ address }}</h4>
          </div>
        </a>
    </div>
  </div>

  <div id="create-ch-menu" class="main-block">
    <h3>Створити нову кав'ярню: </h3>
    <div class="form-group">
      <label>Адреса:</label>
        <input [(ngModel)]="coffeeHouse.address" placeholder="Адреса">

      <label>Площа:</label>
        <input [(ngModel)]="coffeeHouse.space" placeholder="Площа">

      <label>Ціна оренди:</label>
        <input [(ngModel)]="coffeeHouse.rentalPrice" placeholder="Ціна оренди">

      <label>Мобільний номер:</label>
        <input [(ngModel)]="coffeeHouse.mobileNumber" placeholder="Мобільний номер">

      <button (click)="create()" class="btn btn-success">Create</button>
    </div>

  </div>
</div>
