<div class="main">
  <div id="coffee-houses-list" class="main-table">
    <h2>Coffee Houses: </h2>
      <div class="grid grid-pad" *ngIf="addresses">
        <a *ngFor="let address of addresses" class="col-1-4"
           routerLink="/coffee-house/{{ address }}">
          <div class="module address">
            <h4>{{ address }}</h4>
          </div>
        </a>
    </div>
  </div>

  <div id="create-ch-menu" class="main-block">
    <h3>Create new coffee house: </h3>
    <div class="form-group">
      <label>Address:</label>
        <input [(ngModel)]="coffeeHouse.address" placeholder="Address">

      <label>Space:</label>
        <input [(ngModel)]="coffeeHouse.space" placeholder="Space">

      <label>Rental price:</label>
        <input [(ngModel)]="coffeeHouse.rentalPrice" placeholder="Rental price">

      <label>Mobile number:</label>
        <input [(ngModel)]="coffeeHouse.mobileNumber" placeholder="Mobile number">

      <button (click)="create()" class="btn btn-success">Create</button>
    </div>

  </div>
</div>
